
doctype html
html
  head
    title #{title}
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css")
    link(rel='stylesheet', href='css/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js')

  body.bg

    h3.text-center(style='color:white;') Brand Sentiment

    form(id='myForm', action='/search', method='POST')
      .row.collapse#centro
        .small-9.columns
          input(type='text', placeholder='Digite o nome da marca para análise', name='query')
        .small-3.columns
          a.button.info.expand.posfix( type='button', onclick="document.getElementById('myForm').submit();") Pesquisar



    //form
      .row.collapse
        .small-9.columns
          input(type='text', placeholder='small-9.columns')
        .small-3.columns
          span.button.postfix .com

    //<div class="row collapse">
    //<label>Input Label</label>
    //<div class="small-9 columns">
    //<input type="text" placeholder="small-9.columns" />
    //</div>
    //<div class="small-3 columns">
    //<span class="postfix">.com</span>
    //</div>

    //form(id='myForm', action='/search', method='POST')
      .row
        .small-8.columns
          input(style='height:40px !important;', type='text', placeholder='Digite o nome da marca para análise', name='query')
        .small-2.columns
          a.button.info.expand( href='#', type='button', onclick="document.getElementById('myForm').submit();") Pesquisar

