
doctype html

html
  head
    title #{title}
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js')
    script(src='js/bs.min.js')

  body(ng-app='application.controllers', ng-controller='DashboardCtrl')

    h1 QUERY: #{title}
    h2 NAME: {{name}}

    canvas#doughnut.chart.chart-doughnut(chart-data='data', chart-labels='labels')

    h1 SCORE: {{score}}

    #tweetpos
    #tweetneg