//
   Created by rodrigo on 08/03/16.

html
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')

      title BrandSentiment - Dashboard

      //Add CSS bootstrap
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
      link(href='css/style.css')

      script(src='js/lumino.glyphs.js')






